* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000000;
}
/* header */
h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-family: 'DM Serif Display', serif;
}
/* favorite section header */
h2 {
  font-size: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
/* list items */
li{
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  line-height: 2.5;
}
/* footer */
h3 {
  font-size: 11px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}
.header {
  width: 1146px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.box {
  width: 300px;
  padding: 50px;
}
.line{
  margin:0;
  width: 300px;
  height: 1px;
  border-top: 3px solid white;
}
.invisible-box{
  width: 1146px;
  height: 30px;
}
.section {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
div {
  display: inline-block;
  width: 370px;
  padding:0px;
  margin: 20px auto;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
